.container-footer {
    background-color: black;
    margin: 2rem auto;
    padding: .5rem;
    height: 100%;
    width: 70vmax;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.container-footer footer a {
    text-decoration: none;
}